/***************************************************
	scss file: /assets/scss/theme/_post.scss
		+ Style for post
			- Post in blog page
			- Post in signle page
****************************************************/
.posts{
	margin: 0px;
	.post:hover{
		.date-post{
			border-color: $color1; background:$color1; color: #FFF;
			.day{color: #FFF;}
		}
	}

	// Blog posts header
	h2.page-header{
		margin-top: 0px; margin-bottom: 10px; position: relative; font-size: 1.429em;
		border:none; text-transform: none;
		@media(max-width: $screen-sm-max){
			font-size: 1.2em;
		}
		a{
			color: #3f3f3f;
			&:hover{
				color: $color1;
			}
		}
	}
	.page-links{  margin-bottom: 14px;}

	.more-link{
		display: inline-block;
		border: 1px solid #999999;
	    padding: 2px 15px;
	    margin: 0;
	    background: #999999;
	    color: #fff;

		.meta-nav{
			margin-left: 5px;
		}
		&:hover{
			background: $color1;
			border-color: $color1;
		}
	}
	
	
	.post-content{
		@include clearfix();
		border: 1px solid #e7e7e7;
		//border-top: none;
		margin: 0;
		padding: 15px 20px 15px 20px;
		.content{
			overflow: hidden;
		}
		.post-cats{
			margin-bottom: 8px;
			.cat-links{
				i{margin-right: 8px;}
				a{
					font-size: 1em;
					color: inherit;
					&:hover{
						color: $color1;
						text-decoration: none;
					}
				}
			}
		}
		.post-meta{
			> span{
				display: inline-block;
				//line-height: 1;
				color: #3f3f3f;
				padding-right: 10px;
				margin-right: 10px;
				border-right: 1px solid #e7e7e7;
				&:last-child{
					border-right: none;
				}
			}
			a{
				color: $color;
				
				&:hover{
					color: $color1;
				}
			}
		}

		.post-meta-more{
			position: relative;
			@include clearfix();
			.post-meta{
				display: block;
				float: left;
				max-width: 90%;
				@media (max-width: $screen-sm-max){
					max-width: 100%;
					float: none;
				}
			}
			.read-more{
				float: right;
				a{
					color: $color1;
				}

				@media (max-width: $screen-sm-max){
					display: none;
				}
			}
		}
	}

	.quote-info{
		background: $color1;
		color: #ffffff;
		margin: 0;
		padding: 40px 50px 44px 50px;
		.quote-content{
			display: block; padding-bottom: 2px; font-size: 129%; line-height: 30px;
			text-align: left;
			.fa-quote-left,.fa-quote-right{
				font-size: 0.2em;
				margin-right: 5px;
				margin-top: 5px;
				vertical-align: top;
			}
			.fa-quote-right{
				margin: 0;
				margin-top: 10px;
				margin-left: 3px;
			}
		}
		.quote-author{
			display: block; margin: 0px; padding: 0; position: relative; @include transition(all 0.5s ease-out);
			text-align: right; text-transform: capitalize;
			padding: 0;
			font-weight: bold;
		}
	}
	.post-thumb{
		position: relative;
		overflow: hidden;
		@media(max-width: $screen-sm-max){
		&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 1;
				opacity: 0;
				background: transparent;
			}
		}
	}
}
// // Blog standard
.blog-standard{
	> article{
		padding-top: 20px;
		margin-bottom: 30px;
		&:first-child{
			padding-top: 0px;
		}
		&.sticky{
			padding-top: 10px;
		}
	}
	.date-post{
		@media(max-width: $screen-sm-max){
	    	display: none;
	    }
	}
}

// Blog layout 2
.blog-layout2.posts{
	article{
		margin-bottom: 50px;
		.quote-info{
			padding: 23px 30px;
		}

		.post-thumb{
			position: relative;
			overflow: hidden;
			padding-top: 66.66%;
			img{
				position: absolute;
				width: 100%;
				height: auto;
				left: 0;
				top: 0;
				bottom: 0;
			}
		}

		.post-content{
			border: none;
			padding: 0;
			.post-cats{
				margin-top: -4px;
			}
			.post-excerpt{
				margin-bottom: 10px;
				padding: 0;
				border: none;
			}
		}
	}
	.navigation{
		text-align: left;
		
		.pagination{
			> span.current,
			> a
			{
				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
}


.sns-blog-posts,.post{
	.video-responsive{
		position: relative;
		padding-bottom: 56%; /* 16:9 */
		overflow: hidden;
		padding-top: 8px;
		height: 0;
		embed,
		iframe,
		object,
		video{
			width: 100%; height: 100%;
			position: absolute; left: 0px; top: 0px;
		}
	}
	.audio-responsive{
		position: relative;
		padding-bottom: 54.5%; /* 16:9 */
		padding-top: 8px;
		height: 0;
		embed,
		iframe,
		object,
		audio{
			width: 100%; height: 100%;
			position: absolute; left: 0px; top: 0px;
		}
	}
	.gallery-thumb{
		position: relative;
		.navslider{
			.next,
			.prev{ 
				@include transition(all 0.2s ease-out); 
				cursor: pointer;
				width: 45px; height: 45px;
				background-color: rgba(255, 255, 255, 0.3);
				position: absolute;
				top: 50%; margin: -23px 0 0;
				right: 10px; z-index: 2; text-align: center;
				i{
					line-height: 43px;  color: #a9a9a9; font-size: 20px;
					font-size: 0px;
				    background: url(../img/icon-next.png) no-repeat center center;
				    width: 45px;
				    height: 45px;
				}
				&:hover{
					background-color: #3f3f3f;
					i{

					}
				}
			}
			.prev{
				left: 10px; 
				right: auto;
				i{
					line-height: 43px;  color: #a9a9a9; font-size: 20px;
					font-size: 0px;
				    background: url(../img/icon-prev.png) no-repeat center center;
				    width: 45px;
				    height: 45px;
				}
			}
		}
	}
	.post-format{
		position: absolute; width: 53px; height: 53px; bottom: 0px; left: 0px;
		background-color: #eef0f1; //@include border-radius(0px);
		z-index: 1; @include opacity(1); @include transition(all 0.4s ease-out);
		&:before{
			@include font-awesome('f044', 53px); line-height: 55px; text-align: center;
			color: $color1; font-size:24px;
		}
		&.gallery{
			&:before{ @include font-awesome('f03e', 53px); }
		}
		&.video{
			&:before{ @include font-awesome('f1c8', 53px); }
		}
		&.audio{
			&:before{ @include font-awesome('f1c7', 53px); }
		}
		&.link{
			&:before{
				@include font-awesome('f0c1', 53px);
			}
		}
		&.quote{
			&:before{
				@include font-awesome('f10d', 53px);
			}
		}
	}
	.post-navigation{
		margin-top: 55px;
	}
	.wp_postmeta{
		@include clearfix(); margin: 0 0 5px;
		*{
			color: #bebebe;
		}
		> span{
			margin-right: 8px; float: left;
			i{
				
			}
			&.separator{
				font-size: 10px; vertical-align: middle;
			}
			&:first-child{
				display: none;
			}
			&:hover{
				i{
					color: #999;
				}
			}
			a{
				&:hover{
					color: $color1;
				}
			}
		}
		
	}
	.gallery-thumb,
	.video-thumb,
	.audio-thumb,
	.post-thumb,
	.quote-info,
	.link-info
	{
		margin: 0; text-align: left; position: relative;
		z-index: 0;
		&:hover{
			.post-format{
				z-index: -1; @include opacity(0);
			}
		}


	}
	.post-thumb{
		margin: 0;
	}

	.link-info{
		background: #f9f9f9; padding: 43px 0;
		a{
			display: block; text-align:center; font-size: 1em; @include transition(all 0.5s ease-out);
		}
	}
}


// Single
.single{
	.post{
		.gallery-thumb .thumb-container .item
		{
			position: relative;
			img{
				height: auto;
			}
		}
		.quote-info{
				background: $color1;
				color: #ffffff;
				margin: 0;
				padding: 40px 50px 44px 50px;
				.quote-content{
					display: block; padding-bottom: 2px; font-size: 129%; line-height: 30px;
					text-align: left;
					.fa-quote-left,.fa-quote-right{
						font-size: 0.2em;
						margin-right: 5px;
						margin-top: 5px;
						vertical-align: top;
					}
					.fa-quote-right{
						margin: 0;
						margin-top: 10px;
						margin-left: 3px;
					}
				}
				.quote-author{
					display: block; margin: 0px; padding: 0; position: relative; @include transition(all 0.5s ease-out);
					text-align: right; text-transform: capitalize;
					padding: 0;
					font-weight: bold;
				}
			}
		.post-content{
			@include clearfix();
			border: 1px solid #e7e7e7;
			margin: 0;
			padding: 15px 20px 15px 20px;
			margin-bottom: 50px;
			.post-cats{
				margin-bottom: 8px;
				.cat-links{
					i{margin-right: 8px;}
					a{
						color: $color;
						&:hover{
							text-decoration: none; color: $color1;
						}
					}
				}
			}

			.single-post-date{
				display: block;
				color: #cccccc;
				font-size: 1em;
				margin-bottom: 11px;
				span{
					margin-left: 5px;
					&:first-child{
						margin-left:0;
					}
				}
			}

			.content{
				padding-bottom: 9px;
			    margin-bottom: 15px;
			    border-bottom: 1px solid #e7e7e7;
			    p{
			    	margin-bottom: 15px;
			    }
			}
		}

		h1.page-header{
			margin: 0px 0px 5px 0px;
			padding:0;
			border:none;
			font-weight: bold;
			font-size: 1.429em;
		}
		.post-meta{
			text-transform: capitalize;
			color: $color;
			margin: 0;
			@include clearfix();
			.post-tag-list{
				display: inline-block;
				float: left;
				color: #3f3f3f;
				> span{
					display: inline-block;
					color: $color;
					a{
						color: $color;
						&:hover{
							color: $color1;
						}
					}
				}
			}

			.post-share-block{
				display: inline-block;
				float: right;
			}
			
			a:hover{
				color: $color1;
			}
		}
		.link-info{
			a{
				padding: 0 20px;
			}
		}
		.wp_postmeta{
			* {
				color: inherit;
			}
			position: relative; padding: 8px 0 0; margin: 15px 0 0;
			&:before{
				height: 1px; width: 70px; position: absolute; left: 0px; top: 0px;
				background: #e9e9e9;
			}
		}
		.author-info{
			padding-bottom: 40px; border-bottom: 1px solid #eaeaea;
			margin-bottom: 50px;
			@include clearfix();
			h4{
				margin: -1px 0 8px;
				font-size: 1.714em;
				text-transform: capitalize;
				color: #3f3f3f;
			}
			.author-avatar{
				float: left; margin: 0 10px 0 0;
				> img{
					border-radius: 50%;
				}
			}
			.author-desc{
				display: block;
			}
		}
		.sns-share-box{
			@include clearfix(); padding: 0;
			label{
				float: left; line-height: 1; margin-right: 15px; font-weight: bold;
				color: #333333;
			}
			ul.socials{
				list-style: none;
				display: inline-block;
    			padding: 0;
    			margin-top: -2px;
    			margin-bottom: 0;
				li{ margin:0px 5px; float: left; display: inline-block; 
					a{
						display: block; 
						line-height: 1;
						text-align: center;
						font-size: 1em;
						@include transition(all 0.2s ease-out);
						color: #5f5f5f ;
						&:hover{
							color: $color1;
						}
					}
					&:first-child{margin-left: 0px;}
				}
			}
			@media(max-width: $screen-xs-max){
				display: none;
			}
		}
		.post-related{
			position: relative;
			margin: -2px -10px 50px;
			padding-bottom: 46px;
			border-bottom: 1px solid $base-border-color;
			h3{
				position: relative;
				text-transform: uppercase; margin: 0 10px 20px; padding: 0 0 16px;
				font-size: 1.714em;
				color: #4d4d4d;
			}
			.navslider{
				position: absolute;
				top: 0px;
				right: 0;
				display: inline-block;
				.next,
				.prev{ 
					@include transition(all 0.2s ease-out); 
					cursor: pointer;
					width: 30px; height: 30px; 
					position: absolute;
					background-color: #ffffff;
					border: 1px solid $base-border-color;
					top: 0; 
					right: 10px; z-index: 9; text-align: center;
					i{
						color: $color; font-size: 18px; line-height: 28px;
					}
					&:hover{
						background-color: $activeColor; 
						border-color: $color1;
						i{
							color: #ffffff;
						}
					}
				}
				.prev{
					right: 50px;
				}
			}
			.item{ padding: 0 10px 5px;
				.image{
					display: block; max-width: 100%; position: relative;
					&:before{
						content: ""; position: absolute; background: rgba(0, 0, 0, 0.4);
						width: 100%; height: 100%; z-index: 1;
						@include opacity(0); @include transition(0.2s ease-out);
						@include transform(scale(0.4));
					}
				}
				.title{
					margin: 8px 0 10px; font-size: 1.1em;
					white-space:nowrap;
					overflow:hidden;
					text-overflow: ellipsis;
					a{
						color: #333;
					}
				}
				&:hover{
					.image{
						&:before{
							@include opacity(1); @include transform(scale(1));
						}
					}
				}
			}
		}
		
		.post-navigation{
			@include clearfix(); margin: 50px 0;
			display: table;
			width: 100%;
			padding-bottom: 50px;
			border-bottom: 1px solid #eaeaea;
			h2{ display: none;}
			.nav-next,
			.nav-previous{
				display: table-cell;
				text-align: center;
				a{
					position: relative;
					color: inherit;
					&:hover{
						color: $color1;
					}
					.screen-reader-text{ text-transform: uppercase;}
				}
				.nav-content{
					.nav-post-link{
						a{
							display: inline-block;
							margin:0;
							padding: 7px 30px;
							border: 1px solid #eaeaea;
							&:hover{
								background: $color1;
								border-color: $color1;
								color: #ffffff;
							}
						}
						margin-bottom: 23px;
					}
					.nav-post-title{
						margin-bottom: 17px;
						a{
							color: #3f3f3f;
							font-weight: 600;
							&:hover{
								color: $color1;
							}
						}
					}
					.nav-meta{
						.nav-author,
						.nav-comments-link{
							font-size: 1em;
							.fa{
								margin-right: 8px;
								font-size: 1em;
							}
						}
						.nav-comments-link{
							margin-left: 10px;
							padding-left:10px;
							border-left: 1px solid #eaeaea;
						}
					}
				}
			}
			.nav-previous + .nav-next{
				border-left: 1px solid #eaeaea;
			}
		}
	}
}
// blog page
.sns-blog-posts,.sns-blog-page{
	.row{
		// @media(min-width: $screen-sm-max){
		// 	div[class^="col-md-"]{
		// 		display: inline-block;
		// 		float: none;
		// 		margin-right: -3px;
		// 		vertical-align: top;
		// 	}
		// }
	}
	h2.page-header{
		margin: 0px 0px 5px;
		padding:0;
	}
	
	.sns-date-post{
		margin-bottom: 11px;
		.entry-date{
			a{
				color: #cccccc;
			}
		}
	}

	.gallery-thumb .thumb-container .item
		{
			position: relative;
			overflow: hidden;
			img{
				width: 100%;
				height: auto;
			}
		}
	.post-excerpt{
		padding-bottom: 9px;
	    margin-bottom: 15px;
	    border-bottom: 1px solid #e7e7e7;
	}
}

.posts.sns-blog-masonry{
	h2.page-header{
		margin: 10px 0px 0px;
	}

	.quote-info{
		padding: 40px 30px 44px 30px;
	}
}

// Single page
.page{
		h1.page-header{
			margin:0;
			padding:0;
			border:none;
			margin-bottom: 20px;
			color: #333333;
			font-weight: bold;
			font-size: 1.667em;
			text-transform: uppercase;
		}
}
