/***************************************************
	scss file: /assets/scss/theme/_product.scss
		+ Style for product in product page
****************************************************/
.ajax-loading{
	visibility:hidden;
}
.minner-sidebar{
	.widget{
		margin-bottom: 0px;
	}
	@media(max-width: $screen-sm-max){
		margin-top: 30px;
	}
}
.woocommerce{
	.yith-wcqv-wrapper{
		.primary_block{
			.product-type-external,
			.product-type-simple {
				.cart{
					float: none !important;
				}

				.description{padding-bottom: 10px;}
			}
			.product-type-variable,
			.product-type-grouped{
				.cart{
					padding: 0 0; border-top: none;
				}
			}
			.entry-img{
				.inner {
					.owl-stage-outer{
						border: 1px solid #dbdbdb; border-right: none; overflow: hidden; margin: 0 5px;
						&:before{
							height: 100%; width: 1px; content: ''; background: #dbdbdb; position: absolute;
							right: 0px; top: 0px; z-index: 2;
						}
					}
					> span.onsale{
						z-index: 3;
					}
				}
			}
		}
	}
	.product-type-variable,
	.product-type-grouped{
		.primary_block{
			.cart{
				margin-top: 0;
				padding: 30px 0; border-top: none;
			}
		} 
	}
	.primary_block{
		.inner{
			position: relative;
			overflow: hidden;
			
			@include product-block-badges();
		}
		.entry-summary{
			@media(max-width: $screen-xs-max){
				margin-top: 30px;
			}
		}
		.images{
			.quickview-image{
				display: block;
			}
			.woocommerce-main-image{display: block; border: none;}
		}
		.sns-thumbnails{
			margin: 20px -5px 0; position: relative;
			.thumbnails{
				a{
					padding: 0 6px 0 5px; overflow: hidden; display: block;
					
					img{
						width: auto;
						@include transition(all 0.3s ease 0s); border: 1px solid transparent;
						&:hover{
							border-color: #3f3f3f;
						}
					}
					
				}
			}
		}
		.navslider{
			.prev,
			.next{
				display: block;
				@include square(30px);
				text-align: center;
				border: 1px solid $base-border-color;
				position: absolute; cursor: pointer;
				top: 50%; left: 5px; margin-top: -15px;
				background-color: rgba(#FFF, 0.8); 
				z-index: 1;
				color: #3f3f3f;
				.fa{
					font-size: 12px;
					line-height: 30px;
				}
				&.prev{
					right: 6px; left: auto;
				}
				&:hover{
					background: #3f3f3f;
					border: 1px solid #3f3f3f;
					color: #ffffff;
				}
			}
		}
		// Rating
		.woocommerce-product-rating{
			//margin-bottom: 10px;
			.star-rating{
				margin: 0 5px 0 0; 
			}
		}
		// Price
		.price{
			padding: 0px; 
			> .amount{
				font-size: 2.143em;
				color: $color1;
				//font-weight: normal;
			}
			del{font-size: 1em;}
		}
		// Short description
		.description{
			border-bottom: 1px solid $base-border-color;
			margin-bottom: 30px;
			padding-bottom: 14px;
			.description-title{
				color: #333;
				font-size: 1em;
				font-weight: bold;
				text-transform: uppercase;
			}
			@include clearfix();
		}
		// addthis_toolbox
		.addthis_toolbox{
			margin-top: 20px;
			@include clearfix();
		}
		// Form cart
		.cart{
			margin: 0;
			border-top: 1px solid $base-border-color; padding: 30px 0;
			margin-top: 15px;
			margin-bottom: 0px;
			label{
				float: left; margin: 0 10px 0 0; color: #666; line-height: 50px;
			}
			.quantity{
				float: left;
				margin: 0 20px 0 0;
				.qty{
					width: 60px;
					height: 50px;
					text-align: center;
					padding: 5px;
					border: 1px solid $base-border-color !important;
					position: relative;
				}
			}
			.single_add_to_cart_button{
				position: relative;
				display: inline-block;
				height: 50px;
				padding: 0px 35px 0px 15px;
				line-height: 49px;
				border: none;
				background-color: #3f3f3f;
				color: #ffffff;
				font-size: 1em;
				text-transform: uppercase;
				//border: 1px solid $base-border-color;
				font-weight: 600;
				overflow: hidden;
				cursor: pointer;
				transition: all 0.5s cubic-bezier(0.67,-0.51,0.42,1.43);
				i{
					margin-right: 13px;
					font-size: 18px;
				}

				&.externalaffiliate-product{
					padding: 0px 35px 0px 35px;
					i{
						display: none;
					}
				}

				&:hover{
					background-color: $color1;
					border-color: $color1;
				}
			}
			.yith-wcwl-add-to-wishlist{

			}

			.yith-wcwl-add-to-wishlist,
			.yith-wcwl-add-to-wishlist a,
			a.compare
			{
				@include inline-block();
				vertical-align: top;
			}
		}
		// Wishlist, compare
		.compare,
		.yith-wcwl-add-to-wishlist a{
			display: none;
			color: #3f3f3f;
			@include square(50px);
			border-radius: 0;
			border: 1px solid $base-border-color;
			line-height: 50px; font-size: 0px; padding: 0; text-align: center;
			&:before{
				font-family: FontAwesome; font-size: 18px;
			}
			&.compare{ margin-left: 5px;
				&:before{
					content: '\f074';
				}
				&.added{
					&:before{
						content: "\f00c";
					}
				}
			}
			&.yith-wcqv-button{ margin-left: 6px;
				&:before{
					content: '\f002';
				}
			}
			.blockUI.blockOverlay{
				@include border-radius(11px); overflow: hidden; background: #FFF !important; opacity: 0.6;
				line-height: normal;
			}
			&:hover {
				color: #FFF;
				background: #3f3f3f; border-color: #3f3f3f;
			}
		}
		.show{display: inline-block !important}
		.clear{display: none !important}
		.yith-wcwl-add-to-wishlist { position: relative;
			margin: 0 0; @include square(50px);
			margin-left: 10px;
			display: none;
			.feedback{display:none !important}
			.ajax-loading{
				position: absolute;
				margin: 0 0 !important; width: 100% !important; height: 100% !important;
				left: 0% !important; top: 0% !important;
				@include border-radius(11px); overflow: hidden;
				background: #FFF; opacity:0.6;
				&:before{
					position: absolute; display: inline-block;
					left: 50%; margin-left: -12px; line-height:35px;
					-webkit-animation: spin 1s ease-in-out infinite;
				    -moz-animation: spin 1s ease-in-out infinite;
				    -o-animation: spin 1s ease-in-out infinite;
				    animation: spin 1s ease-in-out infinite;
				    background: none;
					font-family: FontAwesome; font-size:24px; content:"\f110";//content: "\f1ce";
					color: rgba(0, 0, 0, 0.75);
				}
			}
			a{
				&:before{
					content: '\f004';
				}
			}
			.yith-wcwl-wishlistexistsbrowse{
				a{
					&:before{
						content: "\f00c";
					}
				}
			}
		}
		// Meta
		.product_meta{
			@include clearfix();
			border-top: 1px solid $base-border-color;
			margin: 0px 0px 30px 0; padding: 20px 0;
			.sku_wrapper,
			.tagged_as,
			.posted_in{
				@include clearfix();
				font-weight: bold; color: #666;
				> *{font-weight: normal; color:$color;}
				a{
					&:hover{
						color: $color1;
					}
				}
			}
		}
		// Product sidebar
		.widget{
			.widget-title {
				font-size: 180%;
			}
			ul.shop-policy {
				margin: 0 0;
				color: inherit;
				li {
					position: relative;
					min-height: 60px;
					padding-left: 60px;
					padding-top: 10px;
					@include transition(all 0.25s ease);
					&:hover {
						color: $color1;
						.fa {
							color: $white;
							background: $color1;
							border-color: $color1;
						}
					}
				}
				.fa {
					color: inherit;
					border: 1px solid;
					border-color: $base-border-color;
					@include square(48px);
					border-radius: 50%;
					line-height: 46px;
					font-size: 20px;
					text-align: center;
					position: absolute;
					top: 50%;
					margin-top: -24px;
					left: 0;
					padding-left: 5px;
					@include transition(all 0.25s ease);
				}
			}
		}
	}
	.sns-quick-view{
		.imgs-quick{ overflow: hidden;
			.images{
				span.quickview-image{margin: 0 0;}
			}
		}
		.summary{
		}
	}
	#yith-quick-view-modal.open .yith-wcqv-wrapper{
		max-height: 515px;
	}
}
#yith-quick-view-content{
	.sns-quick-view{
		.entry-img{
			width: 40%; float: left;
			padding: 15px;
			div.images{
				width: 100%;
			}
		}
		.entry-summary{width: 60%; padding: 0 0;
			padding: 15px 15px 0 10px;
			.addthis_toolbox{display: none;}
		}
	}
	// .onsale{
	// 	position: absolute;
	//     right: 10px;
	//     top: 10px;
	//     left: auto;
	// }
}

// Product sidebar
#sns-product-sidebar{
	margin: 50px 0px 25px;
	> .widget{
		margin-bottom: 30px;
		padding: 20px;
		border:1px solid $base-border-color;
	}
	.widget-title{
		font-size: 20px;
		margin: -3px 0px 20px 0px;
		padding: 0 0 14px 0;
    	border-bottom: 1px solid $base-border-color;
		&:before,&:after{
			display:none;
		}
	}
}

// product tab
#sns_tab_products {
	margin: 50px 0;
	ul.nav-tabs {
		@include clearfix();
		@include ulclear();
		position: relative; 
		z-index: 1;
		border-bottom:none;
		> li {
			display: block;
			margin: 0;
			float: left;
			margin-bottom: -1px;
			height: 50px;
			&:first-child, &.tabdrop + li {
				> a {
					border-width: 1px;
				}
			}
			&.tabdrop {
			}
			&.active, &:hover{
				> a {
					border: none;
					color: $color1; 
					border-radius: 0;
				}
			}
			&.tabdrop {
				> a {
					font-size: 20px;
				}
			}
			> a {
				color: #5f5f5f;
				text-transform: uppercase;
				//font-weight: 300;
				@include transition(all 0.2s ease-out);
				position: relative; 
				font-size: 1.429em;
				line-height: 48px;
				background: none;
				border: none;
				@include inline-block();
				position: relative;
				padding: 0;
				border-width: 1px;
				margin: 0 ;
				border-radius: 0;
				margin-right: 40px;
			}
		}
		.dropdown{
			cursor: pointer;
			a{ margin: 0 0; cursor: pointer;}
			ul.dropdown-menu{
				padding: 0 0;
			}
		}
	}
	.tab-content { 
		border: 1px solid $base-border-color;
		padding: 24px 20px 28px 20px; 
		position: relative;
		margin: 0;
		overflow: hidden;
		h2, h3, h4 {
			text-transform: uppercase;
			margin-top: 0;
		}
		h2{
			font-size: 130%;
		}
		h3 {
			font-size: 120%;
		}
		h4 {
			font-size: 100%;
		}
		#tab-description{
			p{
				margin: 0 0 18px;
				&:last-child{
					margin: 0;
				}
			}
		}
		#reviews{
			h2{
				margin-bottom: 20px;
			}
			h3{
				margin-bottom: 10px;
			}
		}
	}
	#tab-sns_prod_custom_tab{
		.widget-title{
			padding:0;
			&:after,&:before{
				display:none;
			}
		}
	}
	
}
.sns-featured-categories,
.sns-product-tabs,
.sns-products,
.cross-sells,
.related,
.upsells.products {
	position: relative;
	@include clearfix();
	clear: both;
	margin: 0 -15px 0px -15px;

	.sns_products_heading{
		@include clearfix();
		position: relative;
		display: block;
		overflow: hidden;
		margin-bottom: 30px;
		&:before{
			position: absolute;
			content: '';
			height: 1px;
			width: calc(100% - 30px);
			left: 15px;
			bottom:0;
			background: #efefef;
		}
	}

	
	h2{
		display: inline-block;
		text-align: left; font-size: 1.714em; text-transform: uppercase; margin: 0; padding: 0 15px;
		//font-weight: 300;
    	color: #3f3f3f;
    	margin-bottom: 10px;

		span{position: relative; display: inline-block; padding: 0; margin: 0;
		}
		@media(max-width: $screen-xs-max){
			font-size: 1.3em;
		}
		@media(max-width: $screen-xs-max){
			font-size: 1.156em;
		}
	}
	.navslider{
		position: relative;
		display: inline-block;
		background: #FFF;
		float: right;
		padding: 0 15px;
		display: none;
		margin-top: 2px;
		.next,
		.prev{
			display: inline-block;
			width: 31px;
			height: 31px;
			text-align: center;
			background-color: #f2f2f2;
		    @include transition(all 0.4s ease 0s);
			.fa{
				color: #cccccc;
				font-size: 0px;
				line-height: 31px;
				background: url('../img/icon-prev.png') no-repeat center center;
				height: 31px;
				width: 31px;
			}
			&:hover{
				cursor: pointer;
				background: #3f3f3f;
				.fa{
					color: #ffffff;
				}
			}
		}
		.next{
			margin-left: 2px;
			.fa{
				background: url('../img/icon-next.png') no-repeat center center;
			}
		}
	}
	.pretext{
		width: 70%; margin: 6px auto 20px;
		@include center-block();
		text-align: center;
		@media (max-width: $screen-sm-max) {width: 90%}
	}
	ul.products,
	ul {
		@include ulclear();
		float: none;
		li{padding: 0 15px; float: left}
		.owl-item{
			li{
				float: none;
			}
		}
	}
	&.has-nav{
		.prdlist-content{padding-top: 5px;}
	}
}

.cross-sells{
	// margin-top: 20px;
	h2{
		font-size: 150%;
	}
}

.related{
	.navslider .next{
		margin-left: -2px;
	}
}

.sns-product-tabs{
	position: relative;
	.sns-nav-tabs-warpper{
		position: relative;
		margin-bottom: 30px;
		@include clearfix();
		.wpb_heading{
			float: left;

			@media (max-width: $screen-sm-max){
				float: none;
				margin-bottom: 10px;
			}
		}
		.nav-tabs{
			float: right;
			margin-top: 9px;
		}

		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			left: 15px;
			height: 1px;
			width: calc(100% - 30px);
			background: #efefef;
			z-index: 1;
		}


		&.heading_2{ // template display heading align center
			margin-bottom: 34px;
			&:before{
				display: none;
			}

			.wpb_heading{
			position: relative;
			float: none;
			display: block;
			text-align: center;
			padding-bottom: 10px;
			margin-bottom: 24px;
				&:after{
					position: absolute;
					content: '';
					height: 1px;
					width: calc(100% - 30px);
					bottom: 0;
					left: 15px;
					background-color: #efefef;
				}
			}
			.nav-tabs{
				float: none;
				margin-top: 0px;
				display: block;
				text-align: center;

				@media (max-width: $screen-sm-max) {
					display: none;
				}

				> li{
					float: none;
					a{
						padding-bottom: 0;
						border: none;
					}
					&:hover, &:active{
						a{
							border: none;
						}
					}

					&:after{
						margin-top: -5px;
					}
				}
			}
		}
	}
	.nav-tabs{
		@include clearfix();
		@include ulclear();
		position: relative;
		overflow: hidden;
		border: none; text-align: left;
		padding-left: 15px;
		padding-right: 15px;
		> li {
			cursor: pointer;
			position: relative;
			background: #fff;
			display: inline-block;
			line-height: 1;
			margin: 0;
			padding: 0 20px;
			@include transition(all 0.2s ease-out 0s);
			font-size: 1em; float:left;
			
			> a {
				font-size: 1em; color: #5f5f5f; border: none; background: none; margin: 0 0;
				display: inline-block;
			    position: relative;
			    padding-bottom:11px; line-height: 1;
			    @include transition(all 0s);
			    &:after{
			    		
			    }
				span{
					position: relative;
					padding-bottom: 2px;
				    display: inline-block;
				    line-height: 1;
				    &:after{
				    	   
				    }
				}
			}
			&.active,&:hover{
				a{
					color: $color1; border:none;
					border-bottom: 1px solid $color1;
					z-index: 1;
				}
			}
			&:after{
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -9px;
				content: '';
				width: 3px;
				height: 5px;
				background: url('../img/icon-product-tabs-nav.png') no-repeat center center;

			}
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0px;
				&:after{
					display:none;
				}
			}
		}
		@media (max-width: $screen-sm-max) {
			display: none;
		}

		// Shortcode product tabs with thumbnail
		&.sns-tab-cat-thumbnails{
			margin-bottom: 0;
			&:before{
				display:none;
			}
			> li{
				position: relative;
				margin: 0 0 20px 0;
				padding: 0 10px;
				width: 11.11%;
				height: 110px;
				border: 1px solid $base-border-color;
				&:not(.first){
					border-left: none;
				}
				> a{
					position: relative;
					display: block;
					color: $color;
					text-align: center;
					margin: 0;
					padding: 0;
					overflow: hidden;
					&:before,&:after{
						display:none;
					}
					img{
						max-height: 88px;
					}
				}
				> span{
					position: absolute;
					font-size: 12px;
					left: 0;
					bottom: 10px;
					width: 100%;
					text-align: center;
					text-transform: none;
					@include max-lines(1,1em);
					&:before,&:after{
						display:none;
					}
				}
				&:after{
					display: none;
				}
				&:before{
					position: absolute;
				    content: '';
				    left: 50%;
				    border: solid transparent;
				    @include translate(-50%, 0);
				    border-color: rgba(333, 333, 333, 0);
				    border-top-color: #333;
				    border-width: 8px;
    				bottom: -16px;
				    opacity: 0;
				    visibility: hidden;
				}
				&.active,&:hover{
					border-bottom: 1px solid #333333;
					&:before{
						opacity:1;
						visibility: visible;
					}
				}
			}
		}
	}
	
	.tabdrop{
		@media (max-width: $screen-sm-max) {
			display: block !important;
			z-index: 1;
			margin-bottom: 10px;
			> a{
				font-size: 25px;
				display: inline-block;
				line-height: 1;
				color: $color;
			}
			ul.dropdown-menu{

				li{
					padding: 0 0; display: block; float: none;
					a{
						display: block; padding: 3px 15px;
					}
				}
			}
		}
	}
	.pretext{
		@include clearfix(); margin: 10px auto 0;
	}
	.tab-content {
		position: relative;
		&.tab-loading{
			&:after{
				position: absolute;
				top: 50%;
				left: 50%;
				line-height: normal;
			    -webkit-animation: spin 1s ease-in-out infinite;
			    -moz-animation: spin 1s ease-in-out infinite;
			    -o-animation: spin 1s ease-in-out infinite;
			    animation: spin 1s ease-in-out infinite;
			    font-family: FontAwesome;
			    font-size: 35px;
			    content: "\f110";
			    margin-top:-20px;
			    text-align: center;
			    width: 40px;
			    height: 40px;
			    border: 3px solid transparent;
			    color: rgba(0, 0, 0, 0.75);
			}
		}
	}
	&.template-carousel{
		&:before, &:after{
			position: absolute;
			top:0;
			display: block;
			height: 100%;
			width: 200px;
			content: '';
			background: transparent;
			z-index: 3;
		}

		&:before{
			left: -185px;
		}
		&:after{
			right: -185px;
		}

		&.pre-load{
			.tab-pan{height: 0px; overflow: hidden;}
		}
		.navslider{
			position: absolute;
			z-index: 2;
			background: transparent;
			margin: 0;
			padding: 0;
			top: 135px;
			width: 100%;
			.prev,
			.next{
				width: 45px;
    			height: 45px;
    			background: rgba(0,0,0,0.1);//#f2f2f2;
    			&:hover{
    				background: #3f3f3f;
    			}
    			.fa{
    				line-height: 45px;
    				width: 45px;
    				height: 45px; float: left;
    			}
			}

			.prev{
				position: absolute;
				left: -20%;
				opacity: 0;
			}
			.next{
				position: absolute;
				right: -20%;
				opacity: 0;
			}
		}
		.tab-content {
			margin-bottom: -30px !important;
			position: relative;
			z-index: 0;
		}

		&:hover{
			.navslider{
				.prev,.next{
					opacity: 1;
				}
				.prev{
					left: 15px;
				}
				.next{
					right: 15px;
				}

				@media(max-width: $screen-sm-max){
					.prev{
						left: 5px;
					}
					.next{
						right: 5px;
					}
				}
			}
		}

	}
	.product_list {
		li{
			margin-top: 0px;
			padding: 10px 15px 0;
			.block-product-inner{
				margin-bottom: 10px;
			}
		}
	}
	.tab-content{
		&.sns-navslider-thumbnail{
			> div.tab-pan{
				position: relative;
				.navslider{
					margin: 0;
					padding: 0;
					position: absolute;
					opacity: 0;
					visibility: hidden;
					top:33%;
					left: 0px;
					height: 0;
				    z-index: 2;
				    width: 100%;
				    .prev,.next{
						position: absolute;
						
				    }
				    .next{
				    	right: 10px;
				    }
				    .prev{
				    	left: 10px;
				    }
				}
				&:hover{
					.navslider{
						opacity: 1;
						visibility: visible;
					}
				}
				.products{
					position: relative;
					z-index: 1;
				}
			}
		}
	}
}


.sns-products{

	.product_list.grid{
		.block-product-inner{
			.item-img{
				.item-box-countdown{
					@include clearfix();
					position: absolute;
					z-index: 1;
					bottom: 0;
					display: block;
					width: 100%;
					opacity: 1;
					visibility: visible;
					@include transition(all 0.2s ease);
					> div{
						display: inline;
						height: 69px;
						width: 25%;
						float: left;
						background: #3f3f3f;
						color: #ffffff;
						text-align: center;
						border-right: 1px solid #5f5f5f;
						padding: 13px 0px 0px;
						
						.n_{
							display: block;
							margin-bottom: 12px;
							color: #ffffff;
							font-size: 1.429em;
							line-height: 1;
						}
						.t_{
							display: block;
							color: #efefef;
							font-size: 0.857em;
							line-height: 1;
						}
						&:last-child{
							border-color: #3f3f3f;
						}
					}
				}
				.item-box-countdown + .item-box-hover{
					@include transition(all 0.5s ease);
				}
			}

			&:hover{
				.item-img{
					.item-box-countdown{
						bottom: -70px;
						opacity: 0;
						visibility: hidden;
					}
				}
			}
		} 
	} 


	//&:not(.sns-products-list){margin-bottom: -20px !important;}
	&.sns-products-style-two{
		.products, .widget_products{
			.item_product{
				margin-bottom: 20px;
				padding-bottom:  20px;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					height: 1px;
					width: calc(100% - 20px);
					bottom: 0;
					left: 10px;
					background: #efefef;
				}
				&:last-child{
					margin-bottom: 0px;
					padding-bottom: 0px;
					border: none;
					&:after{
						display: none;
					}
				}
				.item-info{
					position: relative;
					display: block;
					@include clearfix();
					margin-left: -10px;
					margin-right: -10px;
					text-align: left;
					.item-img-info-left{
							width: 45%;
							float: left;
							padding-left: 10px;
							padding-right: 10px;
							a.product-image{
								position: relative; display: inline-block; max-width: 100%; overflow: hidden; vertical-align: top;
								
							    @include transition(all 0.35s ease 0s);
							    &:before{
								    content: " ";
								    top:0;
								    left: 0;
								    opacity: 0;
								    position: absolute;
								    width: 100%;
								    height: 100%;
								    display: block;
								    opacity: 0;
								    visibility: hidden;
								    background-color: rgba(0,0,0, 0.4);
								    @include transition(0.2s ease-out);
								    @include scale(0.4);
							    }
							}
						    .onsale{
						    	display: none;
						    }

						    @media(max-width: $screen-sm-max){
						    position:relative;
						    over-follow:hidden;
								&:before{
									position: absolute;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
									opacity: 0;
									content: "";
									background: transparent;
									z-index: 1;
								}
								&:hover{
									cursor: inherit;
								}
							}
					}
					.item-info-right{
						width: 55%;
						float: left;
						padding-left: 10px;
						padding-right: 10px;
						.info-inner{
							padding-bottom: 10px;
							.item-title{
								font-size: 1em;
								color: #3f3f3f;
							}
							.item-content{
								.price{

								}
								.star-rating{
									margin: 0;
								}
							}

						}
						.cart-wrap{
							position: relative;
							.add_to_cart_button,
							.product_type_grouped,
							.product_type_variable,
							.product_type_external
							{
								color: #888888;
								padding: 0;
								display: inline-block;
								position: relative;
								background: transparent;
								text-transform: uppercase;
							    font-size: 12px;
							    border: none;
							    line-height: 1;
								i{
									margin-right: 5px;
								}
								&:hover{
									background: transparent;
									color: $color1;
								}
								&.loading{
									&:after{
										position: absolute;
										right: 50%;
									    top: 50%;
									    margin: -21px -20px 0px 0px;
										text-align:center;
										width: 40px; height:40px; @include border-radius(100%);
										border: 8px solid $base-border-color; 
										color: rgba(0, 0, 0, 0.75);
										opacity: 0.8;
										background: #FFF;
										position: absolute;
										line-height:normal;
										-webkit-animation: spin 1s ease-in-out infinite;
									    -moz-animation: spin 1s ease-in-out infinite;
									    -o-animation: spin 1s ease-in-out infinite;
									    animation: spin 1s ease-in-out infinite;
										font-family: FontAwesome; font-size: 24px; content:"\f110";//content: "\f1ce";
										
									}
								}

								&.added{
									&:after{
										position: absolute;
									    font-size: 10px;
									    right: -30px;
									    margin: 0;
									    bottom: 0;
									    text-align: center;
									    line-height: 18px;
									    width: 20px;
									    height: 20px;
									    border-radius: 100%;
									    border: 1px solid $color1;
									    color: $color1;
									    background: rgba(255, 255, 255, 0.8);
									    font-family: FontAwesome;
									    content: "\f00c";
									    vertical-align: middle;
									}
								}
							}
							.added_to_cart{
								position: absolute;
							    width: 20px;
							    height: 20px;
							    border-radius: 100%;
							    text-align: center;
							    line-height: 40px;
							    font-size: 116.7%;
							    white-space: nowrap;
							    display: inline-block;
							    right: 30px;
							    bottom: 0;
							    margin: 0;
							    font-size: 0px;
							    background: transparent;
							    z-index: 3;
							    color: $color1;
							    &:before{
							    	content: '\f00c';
							    }
							}
						}
					}

					.item-info-right{
						.info-inner{
							.item-title{
								a{
									&:hover{color: $color1;}
								}
							}
						}
						.cart-wrap{
							.add_to_cart_button{
								&:hover{color: $color1;}
							}
						}
					}

					 &:hover{
					 	.item-img-info-left{
								a.product-image{
									&:before{
										opacity: 1;
									    visibility: visible;
									    @include scale(1);
									}
								}
						}
				    }
				}
			}
		}
	}
}
.sns_tab_products_block{
	.related.products{
		margin-bottom: 0px;
		ul.products{
			.block-product-inner {
				.item-info{
					.info-inner{
						padding-bottom: 0px;
					}
				}
			}
		}
	}
}

div[id*="sns_products-list"].sns-products-list{
	margin: 0;
	.sns_products-list_heading{
		display: block;
		font-size: 1.714em;
		margin: 0;
		padding: 0;
		margin-bottom: 40px;
		> span{
			display: block;
			color: #3f3f3f;
			position: relative;
			text-transform: uppercase;
			border-bottom: 1px solid #efefef;
			padding-bottom: 10px;
		}
	}

	.products-list{
			.item_product{
				margin-bottom: 30px;
				.item-info{
					position: relative;
					display: block;
					@include clearfix();
					margin-left: -15px;
					margin-right: -15px;
					text-align: left;
					.item-img-info-left{
							position: relative;
							width: 50%;
							float: left;
							padding-left: 15px;
							padding-right: 15px;
							a.product-image{
								display: block;
							    position: relative;
							    -webkit-transition: all 0.3s ease;
							    -o-transition: all 0.3s ease;
							    transition: all 0.3s ease;

								&:before{
									position: absolute;
									content: '';
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									background-color: rgba(#000, 0.2);
									@include transition (all 0.5s ease);
									@include opacity(0);
									visibility: hidden;
								}
							}
							.yith-wcqv-button{
								position: absolute;
								top: 50%;
								left: 50%;
								height: 51px;
								width: 51px;
								border-radius: 100%;
								background-color: rgba(#fff, 0.8);
								margin: -25px 0px 0px -25px;
								padding: 0px;
								border-color: transparent;
								text-align: center;
								@include opacity(0);
								visibility: hidden;
								outline: none;
								@include transition (all 0.5s ease);
								i{
									font-size: 16px;
									line-height: 50px;
									color: #3f3f3f;
								}
								&:active, &:focus{
									border-radius: 100% !important;
									line-height: 50px;
								}
								.blockUI.blockOverlay{line-height: normal; border-radius: 100%;}
							}
						    .onsale{
						    	display: none;
						    }
					}
					.item-info-right{
						width: 50%;
						float: left;
						padding-left: 15px;
						padding-right: 15px;
						.info-inner{
							padding-bottom: 10px;
							.item-title{
								font-size: 1.143em;
								line-height: 1.5;
								color: #3f3f3f;
								margin: 0 0 15px 0;
								&:hover{
									color: $color1;
								}
							}
							.item-content{
								.price{
									del{
										display: inline-block;
										font-size: 1em;
										color: #9f9f9f;
									}
									ins{
										display: block;
										text-decoration: none;
										margin: 0;
									}
								}
								.star-rating{
									display: none;
								}
							}

						}
						.cart-wrap{
							display: none;
						}
					}
					&:hover{
						cursor: pointer;
						.item-img-info-left{
							.product-image{
								&:before{
									@include opacity(1);
									visibility: visible;
								}
							}
							.yith-wcqv-button{
								@include opacity(1);
								visibility: visible;
							}
						}
					}
				}

				&:last-child{
					margin-bottom: 0;
				}
			}
	}

	&.top_rate{
		.products-list{
			.item_product{
				.item-info{
					.item-info-right{
						.info-inner{
							.item-content{
								.price{
									del{
										//display: none;
									}
									ins{
										text-decoration: none;
										margin: 0;
									}
								}
								.star-rating{
									display: block;
								    float: none;
								    margin-top: 16px;
								    width: auto;
								}
							}

						}
					}
				}
			}
		}
	}
}

.top-hr{
	background: $top-line-color;
	height: 5px;
	margin: 2px 0 31px;
}
.product-heading-h5{
	color: $gray-light;
	margin: 3px 0 8px;
	font-size: 19px;
	font-family: $font-custom;
}
.box-security .product-heading-h5{
	margin: 3px 0 -8px;
	@media  (max-width: $screen-md-max) { //max 1199px
	margin-bottom: 8px;
	}
}
#productscategory_list .product-name,
.accessories-block .product-name{
	margin-bottom: 5px;
	a{
		font-size: 15px;
		line-height: 18px;
		color: $product-name-color;
		&:hover{
			color: $product-name-hover-color;
		}
	}
}
img{
	max-width: 100%;
	height: auto;
}

.yith-wcwl-share{
	margin: 0 0 10px;
}
.reset_variations{
	margin: 0 0 0 5px;
}

// Add effec load more for SNS Product Tabs
.sns-woo-loadmore-wrap{
	text-align: center; margin: 0px;
	.sns-woo-loadmore{
		height: 41px; font-size: 1em; line-height: 40px; padding: 0px 38px;
		border: 1px solid #e8e8e8; color: #7f7f7f;
		border-radius:0;
		&.loaded{
			border-color: $button-hover-bg; background-color: $button-hover-bg; color: #FFF; cursor: text;
		}
		&:hover{
			background-color: $button-hover-bg;
			color: #ffffff;
		}
	}
}
.item-animate {
    @include opacity(0);
    position: relative;
}
.play {
    .item-animate {
        @include opacity(1);
        @include animation-play-state(running);
    }
}
.slideBottom.play .item-animate { @include animation(slideBottom 600ms ease both); }
.slideLeft.play .item-animate { @include animation(slideLeft 600ms ease both); }
.slideRight.play .item-animate { @include animation(slideRight 600ms ease both); }
.bounceIn.play .item-animate { @include animation(bounceIn 600ms ease both); }
.bounceInRight.play .item-animate { @include animation(bounceInRight 600ms ease both); }
.zoomIn.play .item-animate { @include animation(zoomIn 600ms ease both); }
.zoomOut.play .item-animate { @include animation(zoomOut 600ms ease both); }
.pageRight.play .item-animate { @include animation(pageRight 600ms ease both); }
.pageLeft.play .item-animate { @include animation(pageLeft 600ms ease both); }
.pageTop.play .item-animate { @include animation(pageTop 600ms ease both); }
.pageBottom.play .item-animate { @include animation(pageBottom 600ms ease both); }
.starwars.play .item-animate { 
	@include animation(starwars 600ms ease-out both); 
	@include transform-origin(50% 50%);
}

