/***************************************************
	scss file: assets/scss/theme/_toolbar_list.scss
		+ Style for toolbar on listing page of WooCommerce
****************************************************/
.woocommerce-pagination {
	margin: 0; text-align: right;
	line-height:1;
	> span{
		height: 22px;
		min-width: 22px; line-height:22px;
		display: none;
    	vertical-align: top;
	}
	.page-numbers {
		margin: 0px; list-style:none; padding: 0; display:inline-block;
		li { display: inline;
			> span, > a {
				height: 31px;
				width: 31px; line-height: 30px;
				font-size: 1.071em;
				text-align: center;
				margin: 0 5px; float: left;
				color: $color;
				display:inline-block;
				border:none;
				background: none;
				color: #5f5f5f;
				background: #f2f2f2;
				&:focus,
				&:hover,
				&.current{
					color: #ffffff;
					background: $color1;
					.fa {
						color:  $color1;
					}
				}

				i{
					display: none;
				}
			}

			a.page-numbers{
				&.next{
					margin-right: 0px;
					background: #f2f2f2 url('../img/icon-next.png') no-repeat center center;
					&:hover{
						background-color: #5f5f5f;
					}
				}
				&.prev{
					background: #f2f2f2 url('../img/icon-prev.png') no-repeat center center;
					&:hover{
						background-color: #5f5f5f;
					}
				}
			}
			.fa {
				color: $color;
				font-size: 1em;
				height: 22px;
				line-height: 22px;
				text-align: center;
				//width: 16px;
				margin: 0 0 0 2px;
			}
			a.prev{
				.fa{
					margin: 0 2px 0 0;
				}
			}
		}
	}
}

.toolbar {
	margin: 0 0 30px;
	padding: 0;
	@include clearfix();
	&.toolbar-top{
		padding-top: 15px; 
		border-top: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
	}

	& + .woocommerce-result-count{
		@media(max-width: $screen-xs-max){
				display: none;
			}
	}

	&.toolbar-bottom{
		padding-top: 20px;
		border-top: 1px solid #efefef;
		margin-bottom: 50px; position: relative;

		.woocommerce-pagination {
			
		}
	}
	.mode-view {
		display: block;
		float: left; padding: 0;
		margin-bottom: 15px;
		li {
			@include inline-block;
			&.display-title {
				display: none;
			}
			float: left;
			@include square(35px);
			position: relative;
			margin-right: 10px;
			a {
				display: block;
				text-align: center;
				border: 1px solid #b9b9b9;
				span{ display: none; }
				i{
					line-height: 35px;
					font-size: 0px;
					display: none;
				}
				&.active, &:hover{
					border-color: #3f3f3f;
				}

				&.grid{
					background: url(../img/icon-view-grid.png) no-repeat center center;
				    height: 35px;
				    width: 35px;
				}

				&.list{
					background: url(../img/icon-view-list.png) no-repeat center center;
				    height: 35px;
				    width: 35px;
				}
			}
		}

	}
	// .nbrItemPage,
	.woocommerce-ordering {
		display: block;
		float: right;
		padding: 0 0 0 10px;
		text-align: left;
		height: 34px;
		margin: 0 0;
		@media (max-width: $screen-xs-max) {
			& {
				display: none;
			}
		}
		label{margin: 0 5px 0 0;}
		.orderby-wrap{
			position: relative;
			margin:0; padding: 0px;
			@include transition(all 0.2 ease-in);
			display: inline-block; line-height: 28px;
			select.orderby{
				border: none;
				appearance: none;
				-o-appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				padding: 0px 10px;
				background:#FFF;
				min-width: 170px;
				border: 1px solid #ebebeb; height:28px; line-height: 28px;
			}
			&:hover,
			&:focus{
				border-color: #CCC;
			}
			&:before{
				position: absolute; content: ''; height: 5px; width: 9px; right: 10px; top: 12px;
				background: url(../img/ico-drop.png) no-repeat left top;
			}
		}
		select{
			height: 34px;
			border-radius: 0px;
			line-height: 33px;
			background: #ffffff;
			border-radius: 0;
			border: 1px solid #ebebeb;
		}
	}
	.nbrItemPage {
		.select, .selector1 {
			select {
				width: 65px;
			}
		}
	}
	.woocommerce-result-count{
		display: inline-block; margin:0; float: left; line-height: 1;
		@media(max-width: $screen-xs-max){
			display: none;
		}
	}
	.woocommerce-pagination {
		margin: 0;
		float: right;
	}
	.product-count {
		display: none !important;
	}
	.showall {
		display: none;
	}
}