.price {
	color: $price-color;
	white-space: nowrap;
	padding: 5px 0;
	font-size: 100%;
	> .amount{
		font-size: 1.286em;
		color: $color1;
		font-weight: normal; 
	}

	del {
		color: $color;
		text-decoration: none;
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: $color;
			position: absolute;
			top: 50%;
			left: 0;
			@include rotate(-6deg);
		}
	}

	ins {
		margin-left: 5px;
		font-size: 1.286em;
		color: $color1;
		font-weight: bold;
		text-decoration: none;
	}

	.from {
		font-size: 0.67em;
		margin: -2px 0 0 0;
		text-transform: uppercase;
		color: rgba(desaturate($highlight, 75%), 0.5);
	}
}